.container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    opacity: 0;
    transform: scale(0.95);
    animation: fadeIn 0.5s forwards;
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
