.container {
    display: grid;
    gap: 1rem;
    margin-bottom: calc(var(--default-padding) * 2);
}

.barsItem {
    width: 100%;
}

.barsItemTitle {
    margin-bottom: 0.5rem;
    font-size: 0.85rem;
    font-weight: 700;
}

.barsItemRow {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.barsItemLine {
    position: relative;
    width: 100%;
    height: 0.8rem;
    padding: 0.2rem;
    border-radius: 1rem;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.1);
}

.barsItemProgress {
    position: relative;
    display: block;
    height: 100%;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
}

.barsItemCount {
    font-size: 0.7rem;
}
