.footer {
    position: fixed;
    z-index: 100;
    width: 100%;
    padding: var(--default-padding);
    bottom: 0;
    border-radius: 1rem 1rem 0 0;
    /*margin-top: calc(var(--default-padding) * 2);*/
}

/* backdrop-filter есть — включаем blur */
@supports ((backdrop-filter: blur(20px)) or (-webkit-backdrop-filter: blur(20px))) {
    .footer {
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        background: rgba(39, 36, 59, 0.7);
    }
}

/* fallback если НЕТ поддержки blur */
@supports not ((backdrop-filter: blur(20px)) or (-webkit-backdrop-filter: blur(20px))) {
    .footer {
        background: rgba(39, 36, 59, 0.95);
    }
}
