.uploadInput {
  position: relative;
  width: 100%;
}

.uploadInputContent {
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 7rem;
  border-radius: 0.8rem;
  border: 0.1rem dashed rgb(145 144 149);
  overflow: hidden;
}

.uploadInput input {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.uploadInputPreview {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.uploadInputIcon {
  width: 2rem;
  height: 2rem;
}

.uploadInputPreview p {
  margin-top: 1rem;
  font-size: 0.8rem;
}

.uploadInputImage {
  position: relative;
  z-index: 15;
}

.uploadInputImageError {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #562929;
}

.uploadInputImageError svg {
  width: 2rem;
  height: 2rem;
}

.uploadInputImageError p {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 0.85rem;
}

.uploadInputProgress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(1, 1, 1, 0.3);
  z-index: 20;
}

.uploadInputProgress span {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  z-index: 15;
  transition: width 0.5s;
  background-color: rgba(255, 255, 255, 0.25);
}

.uploadInputDelete {
  margin-top: 1rem;
}
