.container {
  width: 100%;
  height: 100%;
  padding: var(--default-padding);
}

.title {
  margin-bottom: var(--default-padding);
  font-size: var(--default-padding);
  font-weight: 700;
}

.description {
  font-size: 1.2rem;
  margin-top: var(--default-padding);
  margin-bottom: 2rem;
}

.resumeButton {
  margin-bottom: 1rem;
}

.actions {
  display: flex;
  gap: 1rem;
}

.skeletonLine {
  display: block;
  border-radius: 0.8rem;
  background-color: rgba(255, 255, 255, 0.1);
  color: transparent;
}

.skeletonActions .skeletonLine {
  width: 100%;
  height: 3.33rem;
}

.description .skeletonLine {
  width: 85%;
  height: 1.3rem;
  margin-bottom: 1rem;
}
