.content {
  position: relative;
  width: 100%;
}

.image {
  position: relative;
  z-index: 30;
  width: 100%;
  height: 100%;
}

.image img {
  object-position: center;
  object-fit: contain;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
