.avatar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    border-radius: var(--default-padding);
    background-color: rgba(255,255,255,0.1);
    box-shadow: 0 0 30px 20px rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255,0.15);
    overflow: hidden;
}

.avatar svg {
    position: absolute;
    top: 1.25rem;
    left: 1.25rem;
    width: 50%;
    height: 50%;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s;
}
