.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 30rem;
}

.empty p {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
}
