.container {
    width: 100%;
}

.item {
    border-radius: 1rem;
    background-color: rgba(255,255,255,0.15);
    padding: 1rem 1.5rem;
    /*font-size: 3.5vw;*/
    font-weight: 200;
    margin-bottom: 1rem;
    transition: background-color 0.25s;
}

.item:active:not(.itemActive) {
    /*opacity: 0.8;*/
}

.itemActive {
    font-weight: 700;
    background-color: rgba(255,255,255,0.35);
}
