.content {
    position: relative;
    width: 100%;
}

.preview {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.previewIcon {
    width: 2rem;
    height: 2rem;
}

.preview p {
    margin-top: 1rem;
}

.image {
    position: relative;
    z-index: 30;
    width: 100%;
    height: 100%;
}

.image img {
    object-position: center;
    object-fit: contain;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(1,1,1,0.3);
    z-index: 20;
}

.progress span {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: 15;
    transition: width 0.5s;
    background-color: rgba(255,255,255,0.25);
}
