.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: var(--default-padding);
}

.title {
    font-size: 1.25rem;
    font-weight: 700;
}

.actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}
