.container {
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: var(--default-padding);
}

.containerLoading:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  animation: move 0.75s linear infinite;
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(255, 255, 255, 0.05) 50%,
    transparent 100%
  );
}

.image {
  position: relative;
  object-fit: cover;
  object-position: center;
  transition: opacity 0.5s;
  border-radius: 1rem;
  opacity: 0;
}

.imageLoaded {
  opacity: 1;
}

@keyframes move {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}
