.container {}

.item {
  border-radius: 0.7rem;
  background-color: rgb(197 170 248 / 15%);
  padding: 1rem;
  width: 100%;
}

.itemStrict {
  background-color: rgb(255 86 86 / 15%);
}

.itemCorrect {
  background-color: rgb(40 255 125 / 15%);
}

.itemHeaderText {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.itemGrab {
  height: 2.35rem;
  width: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.3rem;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: grab;
  touch-action: none;
}

.itemGrab svg {
  width: 1rem;
}

.itemHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
  margin-bottom: 0.5rem;
}

.actions {
  display: flex;
  gap: 0.7rem;
}

.itemNumber {
  font-weight: 700;
  font-size: 0.85rem;
}

.itemRight {
  font-size: 0.85rem;
  font-weight: 700;
  margin-left: 0.5rem;
  color: #13eaaa;
}

.itemLabel {
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  background-color: rgba(255,255,255,0.1);
  font-weight: 700;
  font-size: 0.75rem;
}

.itemText {
  word-break: break-word;
  font-size: 1.15rem;
}

.itemImage {
  margin-top: 1rem;
  border-radius: 0.5rem;
}

.itemImage img {
  object-fit: contain;
}
