.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    width: 100%;
    border-radius: 1rem;
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255,0.15);
    background-color: rgba(255,255,255,0.05);
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem;
    overflow: hidden;
    cursor: pointer;
}

.container:hover {
    background-color: rgba(255,255,255,0.1);
}

.loader {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    transition: opacity 0.3s;
}

.loader:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.5);
    transform: skew(150deg);
    background-size: contain;
}

.loading {
    opacity: 1;
}

.loading:before {
    animation: spin 1s linear infinite;
}

.withBefore {
    padding: 1rem 1rem 1rem 1.2rem;
}

.before {
    width: 1rem;
    height: 1rem;
    margin-right: 0.7rem;
}

.withAfter {
    padding: 1rem 1.2rem 1rem 1rem;
}

.after {
    width: 1rem;
    height: 1rem;
    margin-left: 0.7rem;
}

@keyframes spin {
    from {
        transform: translateX(-110%) skew(150deg);
    }
    to {
        transform: translateX(110%) skew(150deg);
    }
}
