.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    transition: background-color, opacity 0.2s;
}

.style-default {
    color: #fff;
    overflow: hidden;
    cursor: pointer;
    background-color: rgba(255,255,255,0.05);
}

.style-default:hover {
    background-color: rgba(255,255,255,0.1);
}

.style-default.size-sm {
    padding: 0.5rem 0.8rem;
    border-radius: 2rem;
    font-size: 0.85rem;
    font-weight: 700;
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255,0.15);
}

.style-default.size-sm .after {
    margin-left: 0.5rem;
    width: 1rem;
    height: 1rem;
}

.style-default.size-lg {
    padding: 1rem 0.8rem;
    border-radius: 1rem;
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255,0.15);
    font-size: 1rem;
    font-weight: 700;
}

.style-default.size-lg.withAfter {
    padding: 1rem 0.5rem 1rem 0.8rem;
}

.style-default.size-lg .after {
    margin-left: 0.5rem;
    width: 1.2rem;
    height: 1.2rem;
}

.style-white {
    padding: 1rem;
    border-radius: 1.5rem;
    font-size: 1rem;
    color: #27243b;
    outline: none;
    border: none;
    font-weight: 700;
    background-color: #ffffff;
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.3);
}

.style-white:hover {
    background-color: rgba(255,255,255,0.8);
}

.style-white.size-sm {
    padding: 0.4rem 0.8rem;
}

.style-white.size-sm.withAfter {
    /*padding: 0.4rem 0.5rem 0.4rem 0.8rem;*/
}

.style-white.size-sm .after {
    margin-left: 0.3rem;
    width: 1.2rem;
    height: 1.2rem;
}

.after, .before {
    display: flex;
    justify-content: center;
    align-items: center;
}

.after svg,
.before svg {
    width: 100%;
    height: 100%;
}

.disabled {
    opacity: 0.75;
}

.loader {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    transition: opacity 0.3s;
}

.loader:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.5);
    transform: skew(150deg);
    background-size: contain;
}

.loading {
    opacity: 1;
}

.loading:before {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: translateX(-110%) skew(150deg);
    }
    to {
        transform: translateX(110%) skew(150deg);
    }
}
