.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-radius: 0 0 1rem 1rem;
    will-change: backdrop-filter;
    transition: background-color 0.3s, backdrop-filter 0.3s;
}

.headerFill {
    background: rgba(39, 36, 59, 0.7);
    backdrop-filter: blur(20px);
}

@supports not (backdrop-filter: blur(20px)) {
    .headerFill {
        background: rgba(39, 36, 59, 0.95);
    }
}
