.progressWrap {
    position: fixed;
    top: 0;
    z-index: 1000;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: calc(var(--default-padding) + var(--padding-top))
    var(--default-padding)
    var(--default-padding)
    var(--default-padding);
    width: 100%;
    border-radius: 0 0 1rem 1rem;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/* backdrop-filter есть — включаем blur */
@supports ((backdrop-filter: blur(20px)) or (-webkit-backdrop-filter: blur(20px))) {
    .progressWrap {
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        background: rgba(39, 36, 59, 0.7);
    }
}

/* fallback если НЕТ поддержки blur */
@supports not ((backdrop-filter: blur(20px)) or (-webkit-backdrop-filter: blur(20px))) {
    .progressWrap {
        background: rgba(39, 36, 59, 0.95);
    }
}

.progressContainer {
    width: 100%;
    gap: 1rem;
    display: flex;
    align-items: center;
}

.progressCount {
    display: block;
    /*min-width: 3rem;*/
    white-space: nowrap;
    width: fit-content;
    font-weight: 700;
}

.progressIcon {
    color: #ffffff;
    width: 1.3rem;
    height: 1.3rem;
}

.progress {
    position: relative;
    width: 100%;
    height: 0.5rem;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.3);
}

.progressTrack {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 0.5rem;
    transition: width 0.2s;
}
