.popup {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.popup p {
    margin-bottom: var(--default-padding);
    text-align: center;
    font-weight: 700;
    font-size: 1.25rem;
}
