.userWelcome {
  display: flex;
  gap: var(--default-padding);
}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.welcome {
  margin-top: 1rem;
}

.welcome span {
  display: inline-block;
  font-weight: 600;
  text-transform: capitalize;
  color: #00ebff;
}

.welcomeDesc {
  font-size: 1.15rem;
  font-weight: 800;
}

.userStatistic {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  min-height: 12rem;
  padding: 1rem;
  border-radius: var(--default-padding);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.05);
}

.userStatisticItem {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
}

.userStatisticBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  color: #ffffff;
}

.userStatisticBtn span {
  font-weight: 800;
}

.userStatisticBtn button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  background-color: #ffffff;
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
}

.userStatisticBtn button svg {
  color: #333333;
  width: var(--default-padding);
  height: var(--default-padding);
}
