.container {
    width: 100%;
    padding:
            calc(var(--quizzes-page-header-height) - var(--padding-top) + var(--default-padding))
            var(--default-padding)
            var(--default-padding)
            var(--default-padding);
}

.tabBar {
    width: 100%;
    margin-bottom: var(--default-padding);
}
