.popup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}

.label {
  white-space: nowrap;
}

.weight {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  max-width: 7rem;
}

.weight span {
  font-size: 0.9rem;
  font-weight: 700;
}

.weight input {
  padding: 1rem 0;
  text-align: center;
}

.button {
  margin-top: 1rem;
}
