.popup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.popup p {
  margin-bottom: var(--default-padding);
  text-align: center;
  font-weight: 700;
  font-size: 1.25rem;
}

.button {
  margin-top: 1rem;
}
