.popup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.weight {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  max-width: 7rem;
}

.weight input {
  text-align: center;
}

.button {
  margin-top: 1rem;
}
