.container {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #111;
  z-index: 100000;
}

.container p {
  font-size: 4vw;
  font-weight: 700;
  text-align: center;
}
