.layout {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  max-width: var(--max-app-width);
  margin: 0 auto;
  transition:
    opacity 0.35s ease-in-out,
    transform 0.35s ease-in-out;
}

.hide {
  transform: scale(0.97);
  opacity: 0;
}
