.container {
    padding: var(--default-padding);
}

.title {
    margin-bottom: calc(var(--default-padding) * 2);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
}

.poster {
    margin: auto;
}

.resultHeader {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: calc(var(--default-padding) * 2);
}

.resultInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.resultTitle {
    text-align: center;
    font-weight: 700;
}

.resultTime {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.resultTimeIcon {
    width: 1.25rem;
    height: 1.25rem;
}

.resultProgress {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.resultProgressText {
    display: flex;
    align-items: center;
    position: absolute;
}

.resultTextResult {
    margin-right: 0.3rem;
    font-weight: 700;
    font-size: 110%;
}

.resultTextCount {
    margin-left: 0.3rem;
    color: rgba(255, 255, 255, 0.5);
    font-size: 70%;
}

.actions {
    margin-bottom: calc(var(--default-padding) * 2);
    display: grid;
    gap: 1rem;
}

.feedbackNotice {
    margin-bottom: calc(var(--default-padding));
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 0.85rem;
    border-left: 3px solid #0ca6ff;
    background-color: rgba(255,255,255,0.05);
}
