.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  overflow: hidden;
  z-index: 9000;
}

.containerWithAnimation {
  opacity: 0;
  animation: fadeIn 0.35s forwards;
}

.containerClose {
  animation: fadeOut 0.5s;
}

.track {
  position: absolute;
  width: 100%;
  top: 0;
  padding: 6vw;
  display: grid;
  grid-gap: 2.5vw;
  z-index: 10;
}

.trackItem {
  position: relative;
  width: 100%;
  height: 1.2vw;
  border-radius: 1.2vw;
  background: rgba(255, 255, 255, 0.2);
  overflow: hidden;
}

.trackItemProgress {
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  transition: width 0.5s;
}

.trackItemProgressFill {
  width: 100%;
}

.slider {
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: transform 0.5s;
}

.sliderItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  color: #ffffff;
}

.sliderImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  object-fit: cover;
}

.sliderInfo {
  position: relative;
  z-index: 10;
  padding: 12vw 5.5vw 20vw;
  overflow: auto;
  opacity: 0;
  transform: translateY(-10%);
  transition: opacity, transform, 1.2s;
}

.sliderInfoShow {
  opacity: 1;
  transform: translateY(0);
}

.sliderItemTitle {
  margin-bottom: 6vw;
  font-size: 9vw;
  line-height: 1.2;
  font-weight: 800;
}

.sliderItemDescription {
  font-size: 4vw;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12vw 5.5vw 10vw;
  background: linear-gradient(
    180deg,
    transparent 0%,
    rgba(91, 0, 246, 0.35) 80%
  );
}

.btnPrev {
  display: flex;
  align-items: center;
  background: none;
  outline: none;
  border: none;
  color: #fff;
  font-size: 4vw;
  font-weight: 600;

  span {
    margin-left: 1.5vw;
  }
}

.btnPrev:disabled {
  opacity: 0.5;
}

.btnNext {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-radius: 10vw;
  padding: 3vw 1.5vw;
  outline: none;
  border: none;
  color: #333;
  font-size: 4vw;
  font-weight: 600;
  min-width: 45vw;

  span {
    margin-right: 1.5vw;
  }
}

.arrow {
  width: 5vw;
  height: 5vw;
}

.arrowBounce {
  position: absolute;
  bottom: calc(100% + 30px);
  left: calc(50% - 12px);
  animation: bounce 1s infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.3);
    opacity: 0;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
