.tabBar {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.35rem;
    border-radius: 0.8rem;
    background: rgba(255,255,255,0.1);
}

.tabBarItem {
    position: relative;
    z-index: 10;
    width: 100%;
    background: none;
    outline: none;
    border: none;
    padding: 0.4rem 0;
    color: #ffffff;
    font-size: 0.85rem;
    font-weight: 700;
    transition: color 0.3s;
}

.tabBarItemActive {
    color: #222;
}

.tabBarActive {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 0.35rem;
}

.tabBarActive span {
    display: block;
    height: 100%;
    width: 33.33%;
    border-radius: 0.5rem;
    background: rgba(255,255,255, 1);
    box-shadow: 0 0 0.3rem 0.3rem rgba(0,0,0,0.2);
    transition: transform 0.3s;
}
