.container {
  display: flex;
  flex-direction: column;
  gap: var(--default-padding);
  padding: var(--default-padding);
  border-radius: 0.85rem;
  background-color: rgba(255, 255, 255, 0.03);
  overflow: hidden;
}
