*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-user-select: none; /* Safari, Chrome */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  user-select: none;
}

:root {
  --default-padding: 1.5rem;
  --max-app-width: 680px;
  --default-s-a-bottom: 22px;

  --s-a-top: var(--tg-viewport-safe-area-inset-top, 0px);
  --s-a-bottom: var(--tg-viewport-safe-area-inset-bottom, 0px);
  --s-a-content-top: var(--tg-viewport-content-safe-area-inset-top, 0px);
  --s-a-content-bottom: var(--tg-viewport-content-safe-area-inset-bottom, 0px);

  --padding-top: calc(var(--s-a-top) + var(--s-a-content-top));
  --padding-bottom: max(
    var(--s-a-bottom) + var(--s-a-content-bottom),
    var(--default-s-a-bottom)
  );
}

html {
  --default-font: var(
    --tgui--font-family,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif
  );
  font-family: var(--default-font);
  font-size: 3.7vw;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  padding-bottom: 0 !important;
  background: #27243b;
  color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: 100%;
}

@media (min-width: 680px) {
  html {
    font-size: 25px;
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: fade 0.4s ease-in-out;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

[data-rwp-wrapper] ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

[data-rwp-wrapper] li {
  margin: 0;
  padding: 0;
}

[data-rwp-wrapper] {
  position: relative;
  overflow: hidden;
  display: flex;
  width: 100%;
  align-items: stretch;
  justify-content: space-between;
  perspective: 2000px;
  user-select: none;
}

[data-rwp] {
  position: relative;
  overflow: hidden;
  flex: 1;
  cursor: default;
  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 20%,
    black 80%,
    transparent 100%
  );
}

[data-rwp-highlight-wrapper] {
  position: absolute;
  overflow: hidden;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  font-size: 7.5vw;
  font-weight: 800;
}

[data-rwp-highlight-list] {
  position: absolute;
  width: 100%;
}

[data-rwp-options] {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  height: 0;
  margin: 0 auto;
  -webkit-font-smoothing: subpixel-antialiased;
  will-change: transform;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

[data-rwp-option] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
  will-change: visibility;
  font-size: 6vw;
  font-weight: 800;
}

[data-rwp-option],
[data-rwp-highlight-item] {
  display: flex;
  align-items: center;
  justify-content: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Отключает стандартный внешний вид элемента */
  margin: 0; /* Убирает отступы, которые могут остаться */
}

/* Скрывает стрелки в Firefox */
input[type=number] {
  -moz-appearance: textfield; /* Стилизует поле number как обычное текстовое поле */
}

.rsw-editor {
  position: relative !important;
  overflow: visible !important;
  border-radius: 0.8rem !important;
  min-height: 15rem !important;
  font-size: 1.3rem !important;
  border: none !important;
}

.rsw-ce {
  border: 1px solid rgb(145 144 149) !important;
  outline: none !important;
  border-radius: 0.8rem !important;
  transition: box-shadow 0.15s;
  word-break: break-all;
}

.rsw-ce:focus {
  outline: none !important;
  box-shadow: 0 0 0 0.22rem rgba(145, 144, 149, 0.5) !important;
}

.rsw-ce ul {
  list-style: disc;
  padding-left: 1.5rem;
}

.rsw-ce ol {
  list-style: decimal;
  padding-left: 1.5rem;
}
