.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: var(--default-padding) var(--default-padding) 7rem;
    overflow: hidden;
    overflow-y: auto;
    z-index: 1000;
}

.content {
    width: 100%;
}
