.layout {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    max-width: 680px;
    margin: 0 auto;
    --padding-bottom: 0;
    padding-bottom: calc(6.5rem + var(--padding-bottom));
    transition: opacity 0.35s ease-in-out, transform 0.35s ease-in-out;
}

.hide {
    transform: scale(0.97);
    opacity: 0;
}

.content {
    width: 100%;
    transition: opacity 300ms ease, transform 300ms ease;
    will-change: opacity, transform;
    display: flex;
    flex-direction: column;
}

.spacer {
    height: 8rem;
}

