.popup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.close {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1rem;
  background-color: #ffffff;
}

.close svg {
  width: 1rem;
  height: 1rem;
}

.title {
  padding: 0 1.5rem;
  margin-bottom: var(--default-padding);
  text-align: center;
  font-weight: 700;
  font-size: 1.15rem;
}

.render {
  width: 100%;
  height: 100%;
}
