.container {
  position: relative;
  width: 100%;
  min-width: 0;
  min-height: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.7rem;
  border-radius: 1rem;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 50px 3px rgba(33, 33, 33, 0.5);
}

.card {
  transition: background-color 0.2s;
  cursor: pointer;
}

.card:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.row {
  display: flex;
  padding: 0.7rem;
}

.row .imageWrap {
  min-width: 7rem;
  width: 7rem;
  margin-right: 1rem;
}

.row .skeletonTitle {
  width: 100%;
  height: 1.5rem;
}

.imageWrap {
  width: 100%;
  border-radius: 1rem;
  aspect-ratio: 1;
  background-color: rgba(255, 255, 255, 0.05);
  overflow: hidden;
}

.image {
  position: relative;
  width: 100%;
  height: 100%;
}

.image img {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  opacity: 0;
  transition: opacity 0.25s;
  object-fit: cover;
}

.image::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(255, 255, 255, 0.05) 50%,
    transparent 100%
  );
  animation: move 0.75s linear infinite;
}

.imageLoaded::before {
  content: none;
}

.imageLoaded img {
  opacity: 1;
}

.title {
  margin-top: 0.7rem;
  font-size: 1.1rem;
  font-weight: 700;
}

.skeletonTitle {
  color: transparent;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.05);
}

.linkOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.action {
  position: absolute;
  right: 0;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.7rem !important;
}

.author {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.authorAvatar {
  border-radius: 2rem;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.7rem;
}

.authorNick {
  font-size: 0.8rem;
}

@keyframes move {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}
