.container {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 2rem 3rem;
    backdrop-filter: blur(20px);
    mask-image: linear-gradient(to bottom, transparent, #fff 40%);
    transition: opacity 0.35s, transform 0.35s;
}

@supports not (backdrop-filter: blur(10px)) {
    .container {
        border-top: 1px solid rgba(255,255,255,0.15);
        background: linear-gradient(to bottom, transparent, rgba(39, 36, 59, 0.95) 0%);
        mask-image: none;
    }
}

.list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 680px;
}

.hide {
    opacity: 0;
    transform: translateY(100%);
}

.item {
    position: relative;
    font-size: 0.7rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
}

.item:before {
    position: absolute;
    content: '';
    top: calc(100% + 0.3rem);
    left: 50%;
    width: 0.3rem;
    height: 0.3rem;
    border-radius: 0.3rem;
    background-color: #ffffff;
    opacity: 0;
    transition: opacity 0.3s;
}

.active:before {
    opacity: 1;
}
