.container {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    --padding-bottom: 0;
    padding: 0 1.5rem calc(1.5rem + var(--padding-bottom)) 1.5rem;
    transition: opacity 0.5s, transform 0.5s;
}

@supports not (backdrop-filter: blur(10px)) {
    .container {
        border-top: 1px solid rgba(255,255,255,0.15);
        background: linear-gradient(to bottom, transparent, rgba(39, 36, 59, 0.95) 0%);
        mask-image: none;
    }
}

.list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 680px;
    padding: 1rem 1rem 1.2rem 1rem;
    backdrop-filter: blur(20px);
    border-radius: 1rem;
    box-shadow: 0 0 2rem 1rem rgba(33, 33, 33, 0.33);
    background: rgba(39, 36, 59, 0.5);
}

@supports not (backdrop-filter: blur(20px)) {
    .container {
        background: rgba(39, 36, 59, 0.95);
    }
}

.hide {
    opacity: 0;
    transform: translateY(100%);
}

.item {
    position: relative;
    font-size: 0.7rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
}

.item:before {
    position: absolute;
    content: '';
    top: calc(100% + 0.3rem);
    left: 50%;
    width: 0.3rem;
    height: 0.3rem;
    border-radius: 0.3rem;
    background-color: #ffffff;
    opacity: 0;
    transition: opacity 0.3s;
}

.active:before {
    opacity: 1;
}
