.userSection {
    display: flex;
    margin-bottom: 2rem;
}

.userInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding-right: 1rem;
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 1.5rem;
    background-color: rgba(255,255,255,0.1);
    box-shadow: 0 0 30px 20px rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255,0.15);
    overflow: hidden;
}

.avatar svg {
    width: 50%;
    height: 50%;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.welcome {
    margin-top: 1rem;
}

.welcome span {
    display: inline-block;
    font-weight: 600;
    color: #6aadfa;
}

.welcomeDesc {
    font-size: 1.3rem;
    font-weight: 800;
}

.userStatistic {
    width: 100%;
    height: 100%;
    padding: 1rem;
    border-radius: 1.5rem;
    border: 1px solid rgba(255,255,255,0.15);
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.3);
    background-color: rgba(255,255,255,0.05);
}

.userStatisticItem {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

.userStatisticBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    color: #ffffff;
}

.userStatisticBtn span {
    font-weight: 800;
}

.userStatisticBtn button {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    background-color: #ffffff;
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
}

.userStatisticBtn button svg {
    color: #333333;
    width: 1.5rem;
    height: 1.5rem;
}
