.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    transition: background-color, opacity 0.2s;
}

.style-default {
    color: #fff;
    overflow: hidden;
    cursor: pointer;
    background-color: rgba(255,255,255,0.05);
}

.style-default:hover:not(:disabled) {
    background-color: rgba(255,255,255,0.1);
}

.style-default.size-sm {
    padding: 0.5rem 0.8rem;
    border-radius: 2rem;
    font-size: 0.85rem;
    font-weight: 700;
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255,0.15);
}

.style-default.size-sm .after {
    margin-left: 0.5rem;
    width: 1rem;
    height: 1rem;
}

.style-default.size-lg {
    padding: 1rem 0.8rem;
    border-radius: 1rem;
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255,0.15);
    font-size: 1rem;
    font-weight: 700;
}

.style-default.size-lg.withAfter {
    padding: 1rem 0.5rem 1rem 0.8rem;
}

.style-default.size-lg .after {
    margin-left: 0.5rem;
    width: 1.2rem;
    height: 1.2rem;
}

.style-default.size-lg.withBefore {
    padding: 1rem 0.8rem 1rem 0.3rem;
}

.style-default.size-lg .before {
    margin-right: 0.5rem;
    width: 1.2rem;
    height: 1.2rem;
}

.style-white {
    padding: 1rem;
    border-radius: var(--default-padding);
    font-size: 1rem;
    color: #27243b;
    outline: none;
    border: none;
    font-weight: 700;
    background-color: #ffffff;
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.3);
}

.style-white:hover:not(:disabled) {
    background-color: rgba(255,255,255,0.8);
}

.style-white.size-sm {
    padding: 0.4rem 0.8rem;
}

.style-white.size-sm.withAfter {
    /*padding: 0.4rem 0.5rem 0.4rem 0.8rem;*/
}

.style-white.size-sm .after {
    margin-left: 0.3rem;
    width: 1.2rem;
    height: 1.2rem;
}

.style-white.size-lg {
    padding: 0.5rem 0.8rem;
}

.style-white.size-lg .after {
    margin-left: 0.5rem;
    width: 1.2rem;
    height: 1.2rem;
}

.after, .before {
    display: flex;
    justify-content: center;
    align-items: center;
}

.after svg,
.before svg {
    width: 100%;
    height: 100%;
}

.disabled {
    cursor: not-allowed;
    opacity: 0.55;
}

.loader {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(255,255,255,0.1);
    opacity: 0;
    transition: opacity 0.3s;
}

.loader:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: skew(150deg);
    background-size: 200% 100%;
    background-image: linear-gradient(
            to right,              /* Направление снизу вверх */
            rgba(255,255,255,0.12) 0%, rgba(255,255,255,0.12) 5%, /* Первая полоска (синяя, 0px до 20px) */
            transparent 5%, transparent 10%, /* Вторая полоска (прозрачная, 20px до 40px) */
            rgba(255,255,255,0.12) 10%, rgba(255,255,255,0.12) 15%, /* Вторая полоска (прозрачная, 20px до 40px) */
            transparent 15%, transparent 20%, /* Вторая полоска (прозрачная, 20px до 40px) */
            rgba(255,255,255,0.12) 20%, rgba(255,255,255,0.12) 25%, /* Третья полоска */
            transparent 25%, transparent 30%, /* Четвертая полоска */
            rgba(255,255,255,0.12) 30%, rgba(255,255,255,0.12) 35%,
            transparent 35%, transparent 40%,
            rgba(255,255,255,0.12) 40%, rgba(255,255,255,0.12) 45%,
            transparent 45%, transparent 50%,
            rgba(255,255,255,0.12) 50%, rgba(255,255,255,0.12) 55%, /* Первая полоска (синяя, 0px до 20px) */
            transparent 55%, transparent 60%, /* Вторая полоска (прозрачная, 20px до 40px) */
            rgba(255,255,255,0.12) 60%, rgba(255,255,255,0.12) 65%, /* Вторая полоска (прозрачная, 20px до 40px) */
            transparent 65%, transparent 70%, /* Вторая полоска (прозрачная, 20px до 40px) */
            rgba(255,255,255,0.12) 70%, rgba(255,255,255,0.12) 75%, /* Третья полоска */
            transparent 75%, transparent 80%, /* Четвертая полоска */
            rgba(255,255,255,0.12) 80%, rgba(255,255,255,0.12) 85%,
            transparent 85%, transparent 90%,
            rgba(255,255,255,0.12) 90%, rgba(255,255,255,0.12) 95%,
            transparent 95%, transparent 100%
    );
}

.loading {
    opacity: 1;
}

.loading:before {
    animation: spin 5s linear infinite;
}

@keyframes spin {
    0% {
        /* Начинаем с позиции 0% (левый край) */
        background-position: 0 0;
    }
    100% {
        /* Сдвигаем фон на 100% его ширины влево */
        /* Когда фон сдвигается на 100%, он идеально стыкуется с копией самого себя */
        background-position: -200% 0;
    }
}
