.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 1rem 1rem 1rem 1rem;
    overflow-y: auto;
    z-index: 1000;
}

.content {
    width: 100%;
}
