.pageLayout {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  opacity: 0;
  animation: fadeIn 0.75s forwards;
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
