.popover {
    position: relative;
}

.popoverContent {
    position: absolute;
    z-index: 100;
    /*bottom: calc(100% + 0.7rem);*/
    width: 12rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
    background: linear-gradient(324deg, #25243d 50%, #5d3145);
    box-shadow: 0 0 2rem 1rem rgba(0, 0, 0, 0.2);
    /*border: 1px solid rgba(255,255,255,0.1);*/
    transform: translateY(1rem);
    animation: fadeIn 0.2s forwards;
}

.popoverActions {
    display: flex;
    width: 100%;
    margin-top: 1rem;
    gap: 0.7rem;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(1rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
