.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.background {
  stroke: rgba(224, 224, 224, 0.1);
}

.circle {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  transition: stroke-dashoffset 0.35s;
  animation: fillProgress 1.5s ease-out forwards;
}

@keyframes fillProgress {
  0% {
    stroke-dashoffset: var(--circumference-value);
  }
  100% {
    stroke-dashoffset: var(--offset-value);
  }
}
