[data-rwp-wrapper] {
  width: 100%;
  border-radius: 0.375rem;
  background-color: transparent;
}

[data-rwp-option] {
  color: #a1a1aa;
}

[data-rwp-highlight-wrapper] {
  background: linear-gradient(to right, transparent, #14194b, transparent);
  color: #ffffff;
}
