.container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    width: 100%;
}

.containerImages {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.item {
  position: relative;
  display: block;
  width: 100%;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 1rem var(--default-padding);
  outline: none;
  border: none;
  font-size: 1.15rem;
  text-align: left;
  color: #ffffff;
  overflow: hidden;
  transition: background-color 0.25s;
}

.item:active:not(.itemActive) {
  /*opacity: 0.8;*/
}

.itemActive {
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.35);
}

.itemImage {
    padding: 0;
}

.itemImage img {
    object-fit: contain;
}

.itemImage.itemActive {
    border: 0.5rem solid #0ca6ff;
}

.itemLoading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transform: skew(150deg);
  background-size: 200% 100%;
  animation: spin 5s linear infinite;
  background-image: linear-gradient(
          to right,
          rgba(33, 33, 33, 0.1) 0%,
          rgba(33, 33, 33, 0.1) 5%,
          transparent 5%,
          transparent 10%,
          rgba(33, 33, 33, 0.1) 10%,
          rgba(33, 33, 33, 0.1) 15%,
          transparent 15%,
          transparent 20%,
          rgba(33, 33, 33, 0.1) 20%,
          rgba(33, 33, 33, 0.1) 25%,
          transparent 25%,
          transparent 30%,
          rgba(33, 33, 33, 0.1) 30%,
          rgba(33, 33, 33, 0.1) 35%,
          transparent 35%,
          transparent 40%,
          rgba(33, 33, 33, 0.1) 40%,
          rgba(33, 33, 33, 0.1) 45%,
          transparent 45%,
          transparent 50%,
          rgba(33, 33, 33, 0.1) 50%,
          rgba(33, 33, 33, 0.1) 55%,
          transparent 55%,
          transparent 60%,
          rgba(33, 33, 33, 0.1) 60%,
          rgba(33, 33, 33, 0.1) 65%,
          transparent 65%,
          transparent 70%,
          rgba(33, 33, 33, 0.1) 70%,
          rgba(33, 33, 33, 0.1) 75%,
          transparent 75%,
          transparent 80%,
          rgba(33, 33, 33, 0.1) 80%,
          rgba(33, 33, 33, 0.1) 85%,
          transparent 85%,
          transparent 90%,
          rgba(33, 33, 33, 0.1) 90%,
          rgba(33, 33, 33, 0.1) 95%,
          transparent 95%,
          transparent 100%
  );
}

@keyframes spin {
  0% {
    /* Начинаем с позиции 0% (левый край) */
    background-position: 0 0;
  }
  100% {
    /* Сдвигаем фон на 100% его ширины влево */
    /* Когда фон сдвигается на 100%, он идеально стыкуется с копией самого себя */
    background-position: -200% 0;
  }
}
