.container {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1001;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 2rem 3rem;
    backdrop-filter: blur(10px);
    mask-image: linear-gradient(to bottom, transparent, #fff 40%);
    transition: opacity 1.3s, transform 0.3s;
}

.hide {
    /*transform: translateX(100%);*/
    opacity: 0;
}

@supports not (backdrop-filter: blur(10px)) {
    .container {
        border-top: 1px solid rgba(255,255,255,0.15);
        background: linear-gradient(to bottom, transparent, rgba(39, 36, 59, 0.95) 0%);
        mask-image: none;
    }
}

.content {
    width: 100%;
    max-width: 680px;
    padding: 0 1rem;
}

.btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #ffffff;
    border-radius: 2rem;
    padding: 0.8rem 0;
    outline: none;
    border: none;
    color: #333;
    font-size: 1.2rem;
    font-weight: 600;
    transition: color 0.35s, background-color, opacity 0.15s;

    span {
        padding: 0 1rem;
    }
}

.btn:active:enabled {
    opacity: 0.8;
}

.btn:disabled {
    opacity: 0.5;
}

.btnDone {
    color: #fff;
    background: #5531f2;
}

.arrow {
    width: 1.5rem;
    height: 1.5rem;
}
