.editor {
  position: relative;
}

.editorComponent {
  border-radius: 0.375rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.editorHeader {
  position: sticky;
  top: var(--padding-top);
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 0.7rem;
  gap: 0.2rem;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.9);
}

.editorBtnWrap {
  position: relative;
  width: 100%;
}

.editorBtnWrap .editorBtn {
  color: transparent;
}

.editorBtnIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.1rem;
  height: 1.1rem;
  color: #333333;
}

.editorBtn {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: #333333;
  font-weight: 800;
  width: 100%;
  height: 2.7rem;
}

.editorBtn[data-active='true'] {
  background-color: rgb(172 166 255 / 80%);
}
