.editor {
    position: relative;
}

.editorComponent {
    /*border: 1px solid #ddd;*/
    border-radius: .375rem;
    display: flex;
    flex-direction: column;
    min-height: 100px;
    position: relative;
}

.editorHeader {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    background-color: rgba(255,255,255,0.8);
}

.editorBtnWrap {
    position: relative;
}

.editorBtnWrap .editorBtn {
    color: transparent;
}

.editorBtnIcon {
    position: absolute;
    top: 0.6rem;
    left: 0.6rem;
    width: 1.1rem;
    height: 1.1rem;
    color: #333333;
}

.editorBtn {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: #333333;
    font-weight: 800;
    width: 2.3rem;
    height: 2.3rem;
}

.rsw-ce {
    font-size: 2.3rem !important;
}
