.container {
    position: fixed;
    top: calc(50vh - 50px);
    left: -100px;
    z-index: 1000;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background: rgba(0, 0, 0, 0.5);
    transition: transform 0.3s;
}

.container svg {
    position: absolute;
    top: calc(50% - 15px);
    right: 5px;
    width: 30px;
    height: 30px;
}
