.container {
    overflow: hidden;
    z-index: 5000 !important;
    background: #2a2a55 !important;
    max-height: calc(100vh - var(--padding-top) - var(--default-padding) * 1.2) !important;
}

.overlay {
    z-index: 1000 !important;
}

.header {
    position: relative;
    z-index: 2;
    padding: var(--default-padding) !important;
    border-bottom: 1px solid rgba(255,255,255,0.1) !important;
}

.filterHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filterTitle {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: left;
}

.filterAction {

}

.content {
    position: relative;
    padding: var(--default-padding);

    p {
        position: relative;
        z-index: 0;
    }
}

.actions {
    position: sticky;
    bottom: var(--padding-bottom);
    z-index: 20;
    border-radius: 1rem;
    backdrop-filter: blur(20px);
}

@supports not (backdrop-filter: blur(20px)) {
    .actions {
        background: #35294d;
    }
}
