.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10001;
  width: 100%;
  height: 100%;
  padding: var(--default-padding);
}

.popupOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.popupWrap {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  max-height: 100%;
  overflow: auto;
  /*height: 100%;*/
  margin-top: var(--padding-top);
  border-radius: 1rem;
}

.popupContent {
  position: relative;
  z-index: 10;
  margin: auto;
  padding: var(--default-padding);
  border-radius: 1rem;
  opacity: 0;
  background: linear-gradient(324deg, #25243d 50%, #5d3145);
}

.popupClose .popupOverlay {
  animation: opacityOut 0.28s forwards;
}

.popupClose .popupContent {
  animation: fadeOut 0.28s forwards;
}

.popupOpen .popupOverlay {
  animation: opacityIn 0.28s forwards;
}

.popupOpen .popupContent {
  animation: fadeIn 0.28s forwards;
}

@keyframes opacityIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes opacityOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}
