.uploadInput {
    position: relative;
    width: 100%;
    min-height: 7rem;
    border-radius: 0.8rem;
    border: 0.1rem dashed rgba(255,255,255,0.7);
    overflow: hidden;
}

.uploadInput input {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
