.quizSection {}

.quizSectionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.quizSectionTitle {
    font-size: 1.25rem;
    font-weight: 700;
}

.quizSectionBtn {
    display: flex;
    align-items: center;
    padding: 0.3rem 0.5rem 0.3rem 1rem;
    border-radius: 1.5rem;
    font-size: 1rem;
    color: #27243b;
    outline: none;
    border: none;
    font-weight: 600;
    background-color: #ffffff;
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.3);
}

.quizSectionBtn svg {
    width: 1.25rem;
    height: 1.25rem;
    margin-left: 0.5rem;
}

.quizList {
    width: 100%;
}

.quizAll {
    margin-top: 1.5rem;
}
