.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-radius: 0 0 1rem 1rem;
}

.content {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding:
            calc(var(--default-padding) + var(--padding-top))
            var(--default-padding)
            0
            var(--default-padding);
    max-width: var(--max-app-width);
    border-radius: 0 0 1rem 1rem;
    will-change: backdrop-filter;
    transition: background-color 0.3s, backdrop-filter 0.3s;
}

/* backdrop-filter есть — включаем blur */
@supports ((backdrop-filter: blur(20px)) or (-webkit-backdrop-filter: blur(20px))) {
    .content {
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        background: rgba(39, 36, 59, 0.7);
    }
}

/* fallback если НЕТ поддержки blur */
@supports not ((backdrop-filter: blur(20px)) or (-webkit-backdrop-filter: blur(20px))) {
    .content {
        background: rgba(39, 36, 59, 0.95);
    }
}
