.container {
    display: grid;
    gap: 1rem;
}

.container-row {
    grid-template-columns: none;
}

.container-column {
    grid-template-columns: repeat(2, 1fr);
}

.empty {
    margin: 5rem auto 2rem auto;
    width: 12rem;
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.emptyImage {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("./assets/empty.webp") no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.3;
}

.emptyTitle {
    margin-top: var(--default-padding);
    font-weight: 700;
    font-size: 1rem;
}
