.container {
    display: grid;
    gap: 1rem;
}

.container-row {
    grid-template-columns: none;
}

.container-column {
    grid-template-columns: repeat(2, 1fr);
}

.empty {
    margin: 1rem auto 2rem auto;
    width: 20rem;
    height: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.emptyImage {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("./assets/empty.webp") no-repeat;
    background-position: center;
    background-size: 100%;
    opacity: 0.8;
}

.emptyTitle {
    margin-top: var(--default-padding);
    font-weight: 700;
    font-size: 1.25rem;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.25);
}
