.select {
    position: relative;
    width: 100%;
}

.selectPlaceholder {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    line-height: 1.5;
    gap: 0.5rem;
    height: 3.2rem;
    padding: 0 1rem;
    border-radius: 0.75rem;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.3);
}

.selectPlaceholder p {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    top: -0.1rem;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    transition: transform 0.25s;
}

.iconRotate {
    transform: rotate(180deg);
}

.selectList {
    position: absolute;
    z-index: 1000;
    right: 0;
    top: calc(100% + 1rem);
    width: 100%;
    max-height: 15rem;
    overflow: hidden;
    border-radius: 0.75rem;
    border: 1px solid rgba(255, 255, 255, 0.15);
    opacity: 0;
    transform: translateY(-1rem);
    transition: transform 0.25s, opacity 0.25s;
    word-break: break-word;
    pointer-events: none;
}

.selectListOpen {
    pointer-events: all;
    opacity: 1;
    transform: translateY(0);
}

.selectListContent {
    max-height: 15rem;
    overflow-y: auto;
    border-radius: 0.75rem;
}

@supports (
  (backdrop-filter: blur(20px)) or (-webkit-backdrop-filter: blur(20px))
) {
    .selectList {
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        background: rgba(39, 36, 59, 0.7);
    }
}

@supports not (
  (backdrop-filter: blur(20px)) or (-webkit-backdrop-filter: blur(20px))
) {
    .selectList {
        background: rgba(39, 36, 59, 0.95);
    }
}

.selectItem {
    display: flex;
    width: 100%;
    padding: 0.75rem 1.5rem;
    text-align: left;
}

.selectItemActive {
    background-color: rgba(255, 255, 255, 0.1);
}
